h1 {
  text-align: center;
}

.square{
  font-size: 5rem;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  margin: 0 auto;
}

#winning {
  display: flex;
  justify-content: center;
  align-items: center;
}
